<div class="tips">

	<h1>Sources for Designers</h1>
	<p>
		Designers are as good as the sources they use for inspiration, creativity and methodologies. I've been curating a long list of websites, books and tools that I would like to share here.
	</p>
	<div class="display-cards">
		<div class="card">
	  		<%= link_to (image_tag "invison_logo.jpg", alt: "InVision Logo", style: "width:100%"), 'http://blog.invisionapp.com/', 
	  											target: '_blank' %>
	    	<div class="card-container">
	    		<h4>InVision Blog</h4> 
	    		<p>Category: Blog</p>
	    	</div>
		</div>
		<div class="card">
	  		<%= link_to (image_tag "facebook_logo.jpg", alt: "Facebook Logo", style: "width:100%"), 
	  								'http://facebook.design/articles/#', target: '_blank' %>
	    	<div class="card-container">
	    		<h4>Facebook Design</h4> 
	    		<p>Category: Articles</p>
	    	</div>
		</div>
		<div class="card">
	  		<%= link_to (image_tag "hackingui_logo.jpg", alt: "Hacking UI Logo", style: "width:100%"), 'http://hackingui.com/',
	  							target: '_blank' %>
	    	<div class="card-container">
	    		<h4>Hacking UI</h4> 
	    		<p>Category: Articles</p>
	    	</div>
		</div>
		<div class="card">
	  		<%= link_to (image_tag "uxmastery_logo.jpg", alt: "UX Mastery Logo", style: "width:100%"), 'http://uxmastery.com/',
	  							target: '_blank' %>
	    	<div class="card-container">
	    		<h4>UX Mastery</h4> 
	    		<p>Category: Articles</p>
	    	</div>
		</div>
		<div class="card">
	  		<%= link_to (image_tag "uxdesigncc_logo.jpg", alt: "UX Design.cc Logo", style: "width:100%"), 'https://uxdesign.cc/',
	  							target: '_blank' %>
	    	<div class="card-container">
	    		<h4>UX Design.cc</h4> 
	    		<p>Category: Articles</p>
	    	</div>
		</div>
		<div class="card">
	  		<%= link_to (image_tag "uxmatters_logo.jpg", alt: "UX Matters Logo", style: "width:100%"), 'http://www.uxmatters.com/',
	  							target: '_blank' %>
	    	<div class="card-container">
	    		<h4>UX Matters</h4> 
	    		<p>Category: Articles</p>
	    	</div>
		</div>
		<div class="card">
	  		<%= link_to (image_tag "usabilitygeek_logo.jpg", alt: "Usability Geek Logo", style: "width:100%"), 'http://usabilitygeek.com/',
	  							target: '_blank' %>
	    	<div class="card-container">
	    		<h4>Usability Geek</h4> 
	    		<p>Category: Articles</p>
	    	</div>
		</div>
		<div class="card">
	  		<%= link_to (image_tag "uxm_logo.jpg", alt: "UX for the masses Logo", style: "width:100%"), 
	  								'http://www.uxforthemasses.com/', target: '_blank' %>
	    	<div class="card-container">
	    		<h4>UX for the masses</h4> 
	    		<p>Category: Articles</p>
	    	</div>
		</div>
		<div class="card">
	  		<%= link_to (image_tag "uxmag_logo.jpg", alt: "UX Magazine Logo", style: "width:100%"), 
	  								'http://uxmag.com/', target: '_blank' %>
	    	<div class="card-container">
	    		<h4>UX Magazine</h4> 
	    		<p>Category: Articles</p>
	    	</div>
		</div>
	</div>

</div>