<header class="wrapper">
	<h1>Roberto Pesce</h1>
	<p> 
		UX Designer, frontend developer, criador do projeto <b><a href="http://aboutusers.com">100 Days Challenge About Users</a></b> e fundador do site <b><a href="http://aboutusers.com">AboutUsers.com</a></b>. Também escrevo no <b><a href="https://medium.com/@robertopesce">Medium</a></b> sobre UX Design e estou escrevendo o EBook “UX: a minha experiência como usuário”. Vivo atualmente em San Diego, California.
	</p>
</header>

<br class="clear" />

<section class="wrapper video">
	<div class="width-center-wrap">
		<h3>Chegou até aqui? Fico feliz em saber que esteja interessado em UX Design!</h3>
		<p>
			Te convido a assistir o vídeo abaixo para conhecer um pouco mais sobre o assunto. É rápido e, no vídeo eu falo um pouco mais sobre o processo, algumas metodologias e, claro, como usar tudo isso na sua empresa.
		</p>

		<iframe width="752" height="470" src="https://www.youtube.com/embed/7NHiyJ_GYss?rel=0&amp;controls=0&amp;showinfo=0" allowfullscreen>
		</iframe>
		<br />
		<a href="">Baixe a apresentação PDF aqui!</a>
	</div>
</section>

<br class="clear" />

<section class="wrapper form">
	<div class="width-center-wrap">
		<h3>Quer saber mais sobre UX e como utiliz&aacute;-lo para melhorar seus resultados?</h3>
		<p>
			Informe seu nome e email que eu entrarei em contato!
		</p>
		<div class="formulario">
			<%= form_for @email, :url => emails_path, :html => {:method => :post} do |f| %>
				<% f.label :name %>
				<%= f.text_field :name, autofocus: true, placeholder: 'Nome', id: 'nome' %>
				<% f.label :email %>
				<%= f.text_field :email, autofocus: true, placeholder: 'Email', id: 'email' %>
				<%= f.submit 'ENTRAR EM CONTATO!', class: 'botao' %>
			<% end %>
		</div>
	</div>
</section>

<br class="clear" />

<section class="wrapper sobre-roberto">
	<div class="bloco">
		<div class="flex">
			<hr>
			<h4>UM POUCO MAIS SOBRE MIM E MEUS PROJETOS</h4>
			<%= link_to image_tag("behance.svg", :alt => "Behance Portfolio", :class => "img-size"), "http://behance.net/robertopesce" %><br />
			<%= link_to image_tag("linkedin.png", :alt => "LinkedIn Profile", :class => "img-size"), "https://www.linkedin.com/in/roberto-pesce-jr-00746249/" %><br />
			<%= link_to image_tag("medium.svg", :alt => "Medium Page", :class => "img-size"), "http://medium.com/@robertopesce" %><br />
			<%= link_to image_tag("github.png", :alt => "Github Profile", :class => "img-size"), "http://github.com/rpesce" %>
		</div>
		<div class="flex2">
			<p>
				Sou um UX Designer brasileiro, nascido em Porto Alegre, RS. Fico feliz que você tenha entrado no meu site, pois isso demonstra que temos um interesse em comum: UX Design. Como você já viu no vídeo acima, UX, além de possuir um espaço cada vez maior nas grandes empresas de tecnologia, também pode ser muito útil para ajudar empresas de todo os tamanhos, seja no seu ecommerce, APP ou website.
			</p>
			<p>
				O que mais me motiva neste campo é a imensidão de resultados que podem ser alcançados ao adotar uma metodologia consistente de pesquisa, design, teste e acompanhamento, estabelecendo-se, desta forma, a garantia de resultados consistentes. O processo é muito simples: aprender e aplicar estes aprendizados de forma rápida, durante o processo.
			</p>
			<p>
				Você já deve ter ouvido por ai a frase “Falhar cedo e aprender rápido.” Está muito em alta em locais como o Vale do Silício e eu, como UX Designer, acredito nesta abordagem para tudo na vida, pois a vida é feita de experiências, e quando se está disposto falhar, reconhecer os erros e melhorar, é quando os melhores resultados tendem a aparecer.
			</p>
			<p>
				UX é um campo incrível e muito extenso, escrevo sobre muitos temas no Medium, mas fique à vontade para entrar em contato por email, me visitar no LinkedIn ou conhecer meus projetos no Behance e GitHub.
			</p>
		</div>
	</div>
</section>

<br class="clear" />

<section class="wrapper projetos">
	<a href="http://www.aboutusers.com">
		<%= image_tag("100_days_challenge.jpg", :alt => "100 Days Challenge", :class => "item") %>
	</a>
	<a href="http://www.aboutusers.com">
		<%= image_tag("about_users.jpg", :alt => "About Users", :class => "item") %>
	</a>
	<a href="http://medium.com/@robertopesce">
		<%= image_tag("Medium.jpg", :alt => "Articles on Medium", :class => "item") %>
	</a>
	<a href="https://www.behance.net/gallery/48349003/UX-UI-Mobile-Project-Transform-App">
		<%= image_tag("transform_app.jpg", :alt => "Transform App", :class => "item") %>
	</a>
	<a href="https://www.behance.net/gallery/47207123/UX-UI-Mobile-Project-GastronoRates-App">
		<%= image_tag("gastronorates.jpg", :alt => "GastronoRates App", :class => "item") %>
	</a>
	<a href="https://itunes.apple.com/us/app/brazuka-tickets/id1135394594?mt=8">
		<%= image_tag("Brazuka.jpg", :alt => "Brazuka Tickets App", :class => "item") %>
	</a>
</section>

<br class="clear" />

<section class="wrapper sobre-design">
	<div class="bloco">
		<div class="flex">
		<hr>
			<h4>UM POUCO MAIS SOBRE DESIGN</h4>
		</div>
		<div class="flex2">
			<p>
				Abaixo seguem alguns dos sites que uso para me manter informado sobre UX. Muito conte&uacute;do est&aacute; escrito em ingl&ecirc;s, mas cada vez mais brasileiros est&atilde;o se especializando no assunto:
			</p>
			<ul>
				<li><%= link_to "Awwwards", "http://www.awwwards.com/", target: "_blank"%></li>
				<li><%= link_to "Beautiful Pixels", "http://beautifulpixels.com/", target: "_blank"%></li>
				<li><%= link_to "Blog InVision", "http://blog.invisionapp.com/", target: "_blank"%></li>
				<li><%= link_to "Design Shack", "https://designshack.net/", target: "_blank"%></li>
				<li><%= link_to "Facebook Design", "http://facebook.design/articles/#", target: "_blank"%></li>
				<li><%= link_to "Hacking UI", "http://hackingui.com/", target: "_blank"%></li>
				<li><%= link_to "The UX Review", "http://theuxreview.co.uk/", target: "_blank"%></li>
				<li><%= link_to "UIE", "https://articles.uie.com/", target: "_blank"%></li>
				<li><%= link_to "Usability Geek", "http://usabilitygeek.com/", target: "_blank"%></li>
				<li><%= link_to "User Testing", "https://www.usertesting.com/blog/", target: "_blank"%></li>
				<li><%= link_to "UX Beginner", "http://www.uxbeginner.com/", target: "_blank"%></li>
				<li><%= link_to "UX Booth", "http://www.uxbooth.com/", target: "_blank"%></li>
				<li><%= link_to "UX Design.cc", "https://uxdesign.cc/", target: "_blank"%></li>				
				<li><%= link_to "UX for the masses", "http://www.uxforthemasses.com/", target: "_blank"%></li>
				<li><%= link_to "UX Magazine", "http://uxmag.com/", target: "_blank"%></li>
				<li><%= link_to "UX Mastery", "http://uxmastery.com/", target: "_blank"%></li>
				<li><%= link_to "UX Matters", "http://www.uxmatters.com/", target: "_blank"%></li>
				<li><%= link_to "UX Myths", "http://uxmyths.com/", target: "_blank"%></li>
				<li><%= link_to "UX Pin", "https://www.uxpin.com/studio/blog/", target: "_blank"%></li>
				<li><%= link_to "UX Today", "http://ux.today/", target: "_blank"%></li>
			</ul>
		</div>
	</div>
</section>

<br class="clear" />

<footer>
	<small>Copyright &copy; 2017 - Roberto Pesce.</small>
</footer>