<header class="wrapper">
	<h1>Roberto Pesce</h1>
	<p> 
		UX Designer, frontend developer, criador do projeto <b><%= link_to "100 Days Challenge About Users", "http://aboutusers.com", :target => "_blank" %></b> e fundador do site <b><%= link_to "About Users", "http://aboutusers.com", :target => "_blank" %></b>. Também escrevo no <b><%= link_to "Medium", "https://medium.com/@robertopesce", :target => "_blank" %></b> sobre UX Design e estou escrevendo o EBook “UX: a minha experiência como usuário”. Vivo atualmente em San Diego, California.
	</p>
</header>

<br class="clear" />

<section class="wrapper video">
	<div class="width-center-wrap">
		<h3><span>Chegou até aqui?</span> <br /> Bom saber que voc&ecirc; tamb&eacute;m se interessa em UX Design!</h3>
		<p>
			Assista o v&iacute;deo abaixo onde explico o processo de UX, algumas metodologias e principalmente como o Design Centrado no Usuário - <i>user centered design</i> - fortalece seu produto, sua marca e seus resultados.
		</p>

		<iframe width="686" height="353" src="https://www.youtube.com/embed/7NHiyJ_GYss?rel=0&amp;controls=0&amp;showinfo=0" allowfullscreen>
		</iframe>
		<br />
		
		<%= link_to "Baixar PDF", asset_path("Roberto_Pesce.pdf"), :target => "_blank" %>

	</div>
</section>

<br class="clear" />

<section class="wrapper form">
	<div class="width-center-wrap">
		<h3>Gostou do que viu? <br /> Quer melhorar seus resultados atrav&eacute;s do UX Design?</h3>
		<p>
			Entre em contato e vamos conversar!
		</p>

		<div class="formulario">
			<%= form_for @email, :url => emails_path, :html => {:method => :post} do |f| %>
				<% f.label :name %>
				<%= f.text_field :name, autofocus: true, placeholder: 'Nome', id: 'nome' %>
				<% f.label :email %>
				<%= f.text_field :email, autofocus: true, placeholder: 'Email', id: 'email' %>
				<%= f.submit 'ENVIAR', class: 'botao' %>
			<% end %>
		</div>
	</div>
</section>

<br class="clear" />

<section class="wrapper sobre-roberto">
	<div class="bloco">
		<div class="flex">
			<hr>
			<h4>UM POUCO SOBRE MIM E MEUS PROJETOS</h4>
			<%= link_to image_tag("behance.svg", :alt => "Behance Portfolio", :class => "img-size"), "http://behance.net/robertopesce" %>
			<%= link_to image_tag("linkedin.png", :alt => "LinkedIn Profile", :class => "img-size"), "https://www.linkedin.com/in/roberto-pesce-jr-00746249/" %>
			<%= link_to image_tag("medium.svg", :alt => "Medium Page", :class => "img-size"), "http://medium.com/@robertopesce" %>
			<%= link_to image_tag("github.png", :alt => "Github Profile", :class => "img-size"), "http://github.com/rpesce" %>
		</div>
		<div class="flex2">
			<p>
				Sou um UX Designer brasileiro, nascido em Porto Alegre, RS. Fico feliz que voc&ecirc; tenha entrado no meu site, pois isso demonstra que temos um interesse em comum: UX Design. Como você j&aacute; viu no v&iacute;deo acima, UX, al&eacute;m de possuir um espaço cada vez maior nas grandes empresas de tecnologia, tamb&eacute;m pode ser muito &uacute;til para ajudar empresas de todo os tamanhos, seja no seu ecommerce, APP, website ou produto.
			</p>
			<p>
				O que mais me motiva neste campo &eacute; a imensid&atilde;o de resultados que podem ser alcançados ao adotar-se uma metodologia consistente de pesquisa, design, teste e acompanhamento. Quando o trabalho de UX &eacute; bem feito os resultados são duradouros e resolvem problemas reais de clientes e usuários.
			</p>
			<p>
				UX é um campo incrível e muito extenso, que possui muito material disponível. Eu mesmo escrevo sobre o tema no Medium e disponibilizo alguns materiais por aqui. Fique à vontade para entrar em contato por email ou me visitar no LinkedIn! Estou sempre disposto a falar sobre esse tema que é minha paixão.
			</p>
		</div>
	</div>
</section>

<br class="clear" />

<div class="projetos">
	<%= link_to image_tag("100_days_challenge.jpg", :alt => "100 Days Challenge", :class => "square"), "http://www.aboutusers.com", :target => "_blank"%><%= link_to image_tag("about_users.jpg", :alt => "About Users",  :class => "square"), "http://www.aboutusers.com", :target => "_blank"%><%= link_to image_tag("Medium.jpg", :alt => "Articles on Medium",  :class => "square"), "http://medium.com/@robertopesce", :target => "_blank" %><%= link_to image_tag("transform_app.jpg", :alt => "Transform App",  :class => "square change"), "https://www.behance.net/gallery/48349003/UX-UI-Mobile-Project-Transform-App", :target => "_blank" %><%= link_to image_tag("gastronorates.jpg", :alt => "GastronoRates App",  :class => "square change"), "https://www.behance.net/gallery/47207123/UX-UI-Mobile-Project-GastronoRates-App", :target => "_blank" %><%= link_to image_tag("Brazuka.jpg", :alt => "Brazuka Tickets App", :class => "square change"), "https://itunes.apple.com/us/app/brazuka-tickets/id1135394594?mt=8", :target => "_blank" %>
</div>

<br class="clear" />

<section class="wrapper sobre-design">
	<div class="bloco">
		<div class="flex">
		<hr>
			<h4>UM POUCO MAIS SOBRE DESIGN</h4>
		</div>
		<div class="flex2">
			<p>
				Abaixo seguem alguns dos sites que uso para me manter informado sobre UX. Muito conte&uacute;do est&aacute; escrito em ingl&ecirc;s, mas cada vez mais brasileiros est&atilde;o se especializando no assunto:
			</p>
			<table>
				<tr>
					<td>
						<ul>
							<li><%= link_to "Awwwards", "http://www.awwwards.com/", target: "_blank"%></li>
							<li><%= link_to "Beautiful Pixels", "http://beautifulpixels.com/", target: "_blank"%></li>
							<li><%= link_to "Blog InVision", "http://blog.invisionapp.com/", target: "_blank"%></li>
							<li><%= link_to "Design Shack", "https://designshack.net/", target: "_blank"%></li>
							<li><%= link_to "Facebook Design", "http://facebook.design/articles/#", target: "_blank"%></li>
							<li><%= link_to "Hacking UI", "http://hackingui.com/", target: "_blank"%></li>
							<li><%= link_to "The UX Review", "http://theuxreview.co.uk/", target: "_blank"%></li>
							<li><%= link_to "UIE", "https://articles.uie.com/", target: "_blank"%></li>
							<li><%= link_to "Usability Geek", "http://usabilitygeek.com/", target: "_blank"%></li>
							<li><%= link_to "User Testing", "https://www.usertesting.com/blog/", target: "_blank"%></li>
						</ul>
					</td>
					<td>
						<ul>
							<li><%= link_to "UX Beginner", "http://www.uxbeginner.com/", target: "_blank"%></li>
							<li><%= link_to "UX Booth", "http://www.uxbooth.com/", target: "_blank"%></li>
							<li><%= link_to "UX Design.cc", "https://uxdesign.cc/", target: "_blank"%></li>				
							<li><%= link_to "UX for the masses", "http://www.uxforthemasses.com/", target: "_blank"%></li>
							<li><%= link_to "UX Magazine", "http://uxmag.com/", target: "_blank"%></li>
							<li><%= link_to "UX Mastery", "http://uxmastery.com/", target: "_blank"%></li>
							<li><%= link_to "UX Matters", "http://www.uxmatters.com/", target: "_blank"%></li>
							<li><%= link_to "UX Myths", "http://uxmyths.com/", target: "_blank"%></li>
							<li><%= link_to "UX Pin", "https://www.uxpin.com/studio/blog/", target: "_blank"%></li>
							<li><%= link_to "UX Today", "http://ux.today/", target: "_blank"%></li>
						</ul>
					</td>
				</tr>
			</table>
		</div>
	</div>
</section>

<br class="clear" />

<footer>
	<small>Copyright &copy; 2017 - Roberto Pesce.</small>
</footer>