<header class="wrapper">
	<h1>Roberto Pesce</h1>
	<p> 
		UX Designer, frontend developer, criador do projeto <b><a href="http://aboutusers.com">100 Days Challenge About Users</a></b> e fundador do site <b><a href="http://aboutusers.com">AboutUsers.com</a></b>. Também escrevo no <b><a href="https://medium.com/@robertopesce">Medium</a></b> sobre UX Design e estou escrevendo o EBook “UX: a minha experiência como usuário”. Vivo atualmente em San Diego, California.
	</p>
</header>

<br class="clear" />

<section class="wrapper video">
	<div class="width-center-wrap">
		<h3>Chegou até aqui? Fico feliz em saber que esteja interessado em UX Design!</h3>
		<p>
			Te convido a assistir o vídeo abaixo para conhecer um pouco mais sobre o assunto. É rápido e, no vídeo eu falo um pouco mais sobre o processo, algumas metodologias e, claro, como usar tudo isso na sua empresa.
		</p>

		<iframe width="752" height="470" src="https://www.youtube.com/embed/7NHiyJ_GYss?rel=0&amp;controls=0&amp;showinfo=0" allowfullscreen>
		</iframe>
		<br />
		<a href="">Baixe a apresentação PDF aqui!</a>
	</div>
</section>

<br class="clear" />

<section class="wrapper form">
	<div class="width-center-wrap">
		<h3>Quer saber mais sobre UX e como utiliz&aacute;-lo para melhorar seus resultados?</h3>
		<p>
			Informe seu nome e email que eu entrarei em contato!
		</p>
		<div class="formulario">
			<%= form_for @email, :url => emails_path, :html => {:method => :post} do |f| %>
				<% f.label :name %>
				<%= f.text_field :name, autofocus: true, placeholder: 'Nome', id: 'nome' %>
				<% f.label :email %>
				<%= f.text_field :email, autofocus: true, placeholder: 'Email', id: 'email' %>
				<%= f.submit 'ENTRAR EM CONTATO!', class: 'botao' %>
			<% end %>
		</div>
	</div>
</section>

<br class="clear" />

<section class="wrapper sobre-roberto">
	<div class="bloco">
		<div class="flex">
			<hr>
			<h4>UM POUCO MAIS SOBRE MIM E MEUS PROJETOS</h4>
			<%= link_to image_tag("behance.svg", :alt => "Behance Portfolio", :class => "img-size"), "http://behance.net/robertopesce" %><br />
			<%= link_to image_tag("linkedin.png", :alt => "LinkedIn Profile", :class => "img-size"), "https://www.linkedin.com/in/roberto-pesce-jr-00746249/" %><br />
			<%= link_to image_tag("medium.svg", :alt => "Medium Page", :class => "img-size"), "http://medium.com/@robertopesce" %><br />
			<%= link_to image_tag("github.png", :alt => "Github Profile", :class => "img-size"), "http://github.com/rpesce" %>
		</div>
		<div class="flex2">
			<p>
				Sou um UX Designer brasileiro, nascido em Porto Alegre, RS. Fico feliz que você tenha entrado no meu site, pois isso demonstra que temos um interesse em comum: UX Design. Como você já viu no vídeo acima, UX, além de possuir um espaço cada vez maior nas grandes empresas de tecnologia, também pode ser muito útil para ajudar empresas de todo os tamanhos, seja no seu ecommerce, APP ou website.
				<br />
				O que mais me motiva neste campo é a imensidão de resultados que podem ser alcançados ao adotar uma metodologia consistente de pesquisa, design, teste e acompanhamento, estabelecendo-se, desta forma, a garantia de resultados consistentes. O processo é muito simples: aprender e aplicar estes aprendizados de forma rápida, durante o processo.
				<br />
				Você já deve ter ouvido por ai a frase “Falhar cedo e aprender rápido.” Está muito em alta em locais como o Vale do Silício e eu, como UX Designer, acredito nesta abordagem para tudo na vida, pois a vida é feita de experiências, e quando se está disposto falhar, reconhecer os erros e melhorar, é quando os melhores resultados tendem a aparecer.
				<br />
				UX é um campo incrível e muito extenso, escrevo sobre muitos temas no Medium, mas fique à vontade para entrar em contato por email, me visitar no LinkedIn ou conhecer meus projetos no Behance e GitHub.
			</p>
		</div>
	</div>
</section>

<br class="clear" />

<section class="wrapper projetos">
	<a href="http://www.aboutusers.com">
		<img src="http://www.clipartkid.com/images/396/all-free-scrapbook-transparent-png-button-of-different-sizes-graphics-Kvhva5-clipart.png" alt="100 Days Challenge" class="item" />
	</a>
	<a href="http://www.aboutusers.com">
		<img src="http://www.clipartkid.com/images/396/all-free-scrapbook-transparent-png-button-of-different-sizes-graphics-Kvhva5-clipart.png" alt="About Users" class="item" />
	</a>
	<a href="http://medium.com/@robertopesce">
		<img src="http://www.clipartkid.com/images/396/all-free-scrapbook-transparent-png-button-of-different-sizes-graphics-Kvhva5-clipart.png" alt="Articles on Medium" class="item" />
	</a>
	<a href="https://www.behance.net/gallery/48349003/UX-UI-Mobile-Project-Transform-App">
		<img src="http://www.clipartkid.com/images/396/all-free-scrapbook-transparent-png-button-of-different-sizes-graphics-Kvhva5-clipart.png" alt="Transform App" class="item" />
	</a>
	<a href="https://www.behance.net/gallery/47207123/UX-UI-Mobile-Project-GastronoRates-App">
		<img src="http://www.clipartkid.com/images/396/all-free-scrapbook-transparent-png-button-of-different-sizes-graphics-Kvhva5-clipart.png" alt="GastronoRates App" class="item" />
	</a>
	<a href="https://itunes.apple.com/us/app/brazuka-tickets/id1135394594?mt=8">
		<img src="http://www.clipartkid.com/images/396/all-free-scrapbook-transparent-png-button-of-different-sizes-graphics-Kvhva5-clipart.png" alt="Brazuka Tickets App" class="item" />
	</a>
</section>

<br class="clear" />

<section class="wrapper sobre-design">
	<div class="bloco">
		<div class="flex">
		<hr>
			<h4>UM POUCO MAIS SOBRE DESIGN</h4>
		</div>
		<div class="flex2">
			<p>
				Aqui seguem alguns links para sites e artigos que eu considero interessantes na área de UX para aqueles que ficaram curiosos em aprender um pouco mais sobre o tema.
			</p>
			<ul>
				<li><%= link_to "Site 1", "http://behance.net/robertopesce" %></li>
				<li><%= link_to "Site 2", "http://behance.net/robertopesce" %></li>
				<li><%= link_to "Site 3", "http://behance.net/robertopesce" %></li>
				<li><%= link_to "Site 4", "http://behance.net/robertopesce" %></li>
			</ul>
		</div>
	</div>
</section>

<br class="clear" />

<footer>
	<small>Copyright &copy; 2017 - Roberto Pesce.</small>
</footer>