<body class='page page--home'>  
  <div class="page__split animation animation-homepage__split">
  </div>
  
  <div class="page__photo">
    <%= image_tag("Roberto_Pesce.jpg", class: "page__photo-source", title: "Photo of Roberto Pesce") %>
  </div>
    
    <div class="page__content">
      <div class="grid">
        <div class="grid__col--6-12 grid__starts--6">
          
          <header class="header">
            <h1 class="heading heading--caps heading--logo animation animation-homepage__logo">
              <%= link_to "Roberto Pesce", root_path, class: "js-link-nav" %>
            </h1>
            <ul class="navigation">
              <li>
                <%= link_to "CV", asset_path("CV_Roberto_Pesce_UX_Design.pdf"), :target => "_blank", title: "Check my CV", 
                                                                    class: "heading heading--caps" %>
              </li>
              <li>
                <%= link_to "LinkedIn", "https://www.linkedin.com/in/roberto-pesce-jr-00746249/", target: '_blank', 
                              title: "Check my Linkedin profile", class: "heading heading--caps" %>
              </li>
              <li>
                <%= mail_to "robertopescee@gmail.com", "Email", subject: "Contact from AboutUsers.com", title: "Get in touch",
                                                        class: "heading heading--caps" %>
              </li>
            </ul>
          </header>

          <section>
            <h1 class="heading heading--main animation animation-homepage__mainheading">
              I believe in data-driven user experience design
            </h1>

            <p class="animation animation-homepage__maintext">
              I’m a User Experience Designer who comes from marketing area and specializes in the user-centered approach for designing data-driven digital interactions. My expertise is in understanding products as part of the business strategy and in uncovering users' relevant needs through building empathy during the whole process. I believe that consistent data gathered from the right sources, at the right time, and with the right method, supports solid requirements, better decisions and creates the best environment for greater solutions.
            </p>
            <p class="animation animation-homepage__maintext">
              <span class='bold'>I’m curious</span>, I read every day.<br />
              <span class='bold'>I’m adaptable</span>, I’ve lived in three countries and have two nationalities.<br />
              <span class='bold'>I’m a hard-worker</span>, I’ve founded two startups.
            </p>
            
            <div class="animation animation-homepage__projects">
              <h2 class="heading heading--caps">Selected projects</h2>
              <ul>
                <li>
                  <%= link_to 'Brazuka Events - Mobile App', brazuka_path, title: "Learn more about Brazuka Events", 
                                                                    class: "animate-homepage__click" %> 
                </li>
                <li>
                  <%= link_to 'Marketplace - Web Platform (Comming soon due an NDA)', '#', 
                                                        title: "Learn more about Marketplace", 
                                                        class: "animate-homepage__click" %> 
                </li>
              </ul>
            </div>
            
            <div class="animation animation-homepage__articles">
              <h2 class="heading heading--caps">Writing</h2>
              <ul>
                <li>
                  <%= link_to "My design process for digital product design", 
                            "https://medium.com/@robertopesce/my-ux-design-process-for-digital-products-4840aa196146", 
                                          title: "Read this article on Medium", target: "_blank" %>
                </li>
                <li>
                  <%= link_to "What to read in UX", "https://blog.prototypr.io/what-to-read-in-ux-day-67-45f748c4838", 
                                          title: "Read this article on Medium", target: "_blank" %>
                </li>
                <li>
                  <%= link_to "The negative bias in UX", 
                                          "https://blog.prototypr.io/the-negative-bias-in-ux-day-80-3dca8f53f415", 
                                          title: "Read this article on Medium", target: "_blank" %>
                </li>
                <li>
                  <%= link_to "All my articles on Medium", 
                                          "https://medium.com/@robertopesce", 
                                          title: "Read all my articles on Medium", target: "_blank" %>
                </li>
              </ul>
            </div>
          </section>
        
          <footer>
            <p>2017 - Roberto Pesce</p>
          </footer>

        </div>
      </div>
    </div>  
</body>