<!-- DEVELOPED BY ROBERTO PESCE 2017 -->
<div class="wrap">

	<div class="header__wrapper">
		<h1 class="heading heading--caps heading--logo">
			<%= link_to "BACK to main page", root_path, class: "js-link-nav" %>
		</h1>
	</div>
	
	<!-- Header -->
	<header class='head'>
		<div class='head__text'>
			<h1> Brazuka Events App</h1>
			<h3> Find Brazilian events anywhere in the US</h3>
			<div class='head__icon--position'>
				<%= link_to(image_tag('available_icon_apple.png', :class => 'head__icon--size'),
										'https://itunes.apple.com/us/app/brazuka-events/id1267726505?mt=8', 
										target: '_blank', title: 'Download Brazuka Events on Apple Store') %>
				<%= link_to(image_tag('available_icon_android.png', :class => 'head__icon--size'),
										'https://play.google.com/store/apps/details?id=com.brazukatickets.brazukaevents', 
										title: 'Download Brazuka Events on Google Play', 
										target: '_blank') %>
			</div>
		</div>
		<div class="head__phone">
		<%= image_tag('cover_phone.png') %>
		</div>
	</header>


	<div class='grad'>
		<div class="portfolio">
				<!-- Introduction block -->
			<section class="introduction">
				<h2>Brazuka Events</h2>
				<p>
					Brazuka Events is an iOS/Android app for real-time information about Brazilian events happening in the United States.
					<br />
					With the ambitious goal of becoming a standard for millions of users, the app should provide fast and easy-to-understand information on-the-go. My challenge as the Lead UX Designer was to identify and make sure that either the users and the business requirements would be met, creating value through a world-class platform designed for scale.
				</p>
				<h3>Briefing</h3>
				<ul>
					<li>Mobile technology</li>
					<li>Targeting people looking for Brazilian Events in the United States</li>
					<li>Must list events by location (proximity)</li>
					<li>Must show events on a map</li>
					<li>Must be simple and easy-to-use</li>
					<li>Must provide an effortless sharing flow</li>
				</ul>
				<%= image_tag('Briefing_Image.png') %>
			</section>
		</div>
	</div>
	<div class="portfolio">
		<!-- Process block -->
		<section class="process">
			<h2>Process</h2>
			<ul>
				<li>Research gathering insights from business and users</li>
				<li>Document</li>
				<li>Design alternatives failing fast to learn fast</li>
				<li>Prototype, Test and Iterate looping in a continuous loop</li>
				<li>Deliver interactions, assets and style guide</li>
				<li>Support implementation</li>
			</ul>
		</section>		
	</div>

		<!-- Image separator -->
		<div class='separator__div--size1'>
		</div>

	<div class="portfolio">

		<!-- Research block -->
		<section class='research'>
			<h2>Research</h2>
			<p>
				The clients were my first source for information. I extracted as more data as possible from them by adopting ludic exercises with drawings and post-it notes. The goal was to access their subconscious and build up a Value Proposition Canvas considering their current knowledge about the product and potential users. For this workshop I requested them to write one post-it note for each task their users were trying to accomplish, then to draw their perception of users’ pains. By the end of 4 hours, we had built a VPC and a great big picture of the project goals.
			</p>
			<p class="research__p--position">
				The second step was to research on secondary sources and to reach out to real users starting to give a user-centered approach to the project. We interviewed and observed over 10 potential users while they were looking for Brazilian events, validating assumptions and uncovering other hidden needs.
			</p>
			
			<h3>Research findings</h3>
			<ul>
				<li>Research gathering insights from business and users</li>
				<li>The target audience age ranges from 20 to 30 years old</li>
				<li>Mostly are students living abroad</li>
				<li>Very active on social media</li>
				<li>Strongly influenced by their groups</li>
				<li>Prefer using the phone instead of notebook</li>
				<li>Comfortable buying online</li>
				<li>‘Who is going’ is more important than ‘Where’</li>
			</ul>
		</section>

	</div>

		<!-- How might we bolck -->
		<section class="hmw">
			<div class='hmw__text'>
				<h2>How might we...</h2>
				<h5>create an easy source of information</h5>
				<h2>For...</h2>
				<h5>a young and connected audience living abroad</h5>
				<h2>To...</h2>
				<h5>find Brazilian events in the US</h5>
				<h2>And improve...</h2>
				<h5>the way they share it with their groups</h5>
			</div>
		</section>

	<div class="portfolio">

		<!-- Document bolck -->
		<section class="document">
			<h2>Document</h2>
			<p>
				Strong documentation is necessary to support decisions, align expectations and evaluate the success rate. After defining the problem I documented the research findings by writing down Functional Requirements, Storyboards, and Personas. Everything was submitted and approved by the stakeholders.
			</p>
			<%= image_tag('Personas.jpg') %>
		</section>

	</div>

		<!-- Image separator -->
		<div class='separator__div--size2'>
		</div>

	<div class='grad'>
		<div class="portfolio">
			<!-- Design bolck -->
			<section class="design">
				<h2>Designing alternatives</h2>
				<p>
					Designing is creating but is also failing and learning fast. After researching for references and a hard work creating and testing alternatives we came up with what we believe to be the best information architecture and user-flow. Below the main screens and interactions are shown in an annotated wireframe similar to the one approved by the client.
				</p>
				<div class="design__images">
					<%= image_tag('wireframe_1.png', class: "design__images--position") %>
					<%= image_tag('wireframe_2.png', class: "design__images--position") %>
					<%= image_tag('wireframe_3.png', class: "design__images--position") %>
					<%= image_tag('wireframe_4.png', class: "design__images--position") %>
				</div>
			</section>
		</div>
	</div>

	<div class="portfolio">
		<!-- Ptototype bolck -->
		<section class='prototype'>
			<h2>Prototyping, testing and iterating</h2>
			<p>
				Wireframes lead to prototypes. We tested and iterated the prototypes from early low-fidelity versions until reaching hi-fidelity ones with go-through versions using InVision.
				We tested with over 15 potential users along the way.
			</p>
		</section>
	</div>

		<!-- Image separator -->
		<div class='separator__div--size3'>
		</div>


	<div class="portfolio">

		<!-- Deliver bolck -->
		<section class="deliver">
			<h2>Delivering Brazuka Events</h2>
			
			<div class='deliver__steps'>
				
				<div class='deliver__steps--row'>
					<div>
						<%= image_tag('deliver_1.png', class: 'deliver__image--positionL') %>
					</div>
					<div class="deliver__text--positionR">
						<h3 class='deliver__h3--blue'>Onboarding</h3>
						<p>User is introduced to the main functionalities and invited to activate services</p>
					</div>
				</div>

				<div class='deliver__steps--row'>
					<div class="deliver__text--positionL">
						<h3 class="deliver__h3--orange">Events list</h3>
						<p>Events are grouped by date and displayed by proximity</p>
					</div>
					<div>
						<%= image_tag('deliver_2.png', class: 'deliver__image--positionR') %>
					</div>
				</div>
				
				<div class='deliver__steps--row'>
					<div>
						<%= image_tag('deliver_3.png', class: 'deliver__image--positionL') %>
					</div>
					<div class="deliver__text--positionR">
						<h3 class='deliver__h3--yellow'>Events map</h3>
						<p>Users can also see the events in a map, browsing according to event’s location</p>
					</div>
				</div>
				
				<div class='deliver__steps--row'>
					<div class="deliver__text--positionL">
						<h3 class='deliver__h3--green'>'Warm up' Chat</h3>
						<p>Chat starts 3 hours before the event and finishes 2 hours after the starting time allowing attendees to communicate, share rides, information, and location.</p>
					</div>
					<div>
						<%= image_tag('deliver_4.png', class: 'deliver__image--positionR') %>
					</div>
				</div>
			
			</div>
		</section>

	</div>
	
	<div class="grad">
		<%= image_tag('final_background.png', class: 'portfolio__img--position') %>
	</div>


		<!-- Image separator
		<div class='separator__div-size4'>
		</div>-->

	<footer>
		<div class="header__wrapper">
		<h1 class="heading heading--caps heading--logo">
			<%= link_to "BACK to main page", root_path, class: "js-link-nav" %>
		</h1>
	</div>
		<p>2017 - Roberto Pesce</p>
	</footer>
</div>


