<h1>TIPS</h1>

<section class="wrapper sobre-design">
	<div class="bloco">
		<div class="flex">
		<hr>
			<h4>UM POUCO MAIS SOBRE DESIGN</h4>
		</div>
		<div class="flex2">
			<p>
				Abaixo seguem alguns dos sites que uso para me manter informado sobre UX. Muito conte&uacute;do est&aacute; escrito em ingl&ecirc;s, mas cada vez mais brasileiros est&atilde;o se especializando no assunto:
			</p>
			<table>
				<tr>
					<td>
						<ul>
							<li><%= link_to "Awwwards", "http://www.awwwards.com/", target: "_blank"%></li>
							<li><%= link_to "Beautiful Pixels", "http://beautifulpixels.com/", target: "_blank"%></li>
							<li><%= link_to "Blog InVision", "http://blog.invisionapp.com/", target: "_blank"%></li>
							<li><%= link_to "Design Shack", "https://designshack.net/", target: "_blank"%></li>
							<li><%= link_to "Facebook Design", "http://facebook.design/articles/#", target: "_blank"%></li>
							<li><%= link_to "Hacking UI", "http://hackingui.com/", target: "_blank"%></li>
							<li><%= link_to "The UX Review", "http://theuxreview.co.uk/", target: "_blank"%></li>
							<li><%= link_to "UIE", "https://articles.uie.com/", target: "_blank"%></li>
							<li><%= link_to "Usability Geek", "http://usabilitygeek.com/", target: "_blank"%></li>
							<li><%= link_to "User Testing", "https://www.usertesting.com/blog/", target: "_blank"%></li>
						</ul>
					</td>
					<td>
						<ul>
							<li><%= link_to "UX Beginner", "http://www.uxbeginner.com/", target: "_blank"%></li>
							<li><%= link_to "UX Booth", "http://www.uxbooth.com/", target: "_blank"%></li>
							<li><%= link_to "UX Design.cc", "https://uxdesign.cc/", target: "_blank"%></li>				
							<li><%= link_to "UX for the masses", "http://www.uxforthemasses.com/", target: "_blank"%></li>
							<li><%= link_to "UX Magazine", "http://uxmag.com/", target: "_blank"%></li>
							<li><%= link_to "UX Mastery", "http://uxmastery.com/", target: "_blank"%></li>
							<li><%= link_to "UX Matters", "http://www.uxmatters.com/", target: "_blank"%></li>
							<li><%= link_to "UX Myths", "http://uxmyths.com/", target: "_blank"%></li>
							<li><%= link_to "UX Pin", "https://www.uxpin.com/studio/blog/", target: "_blank"%></li>
							<li><%= link_to "UX Today", "http://ux.today/", target: "_blank"%></li>
						</ul>
					</td>
				</tr>
			</table>
		</div>
	</div>
</section>

<br class="clear" />